<div id="main_container">

  <%= render 'layouts/menu' %>


  <div class="rsvp_header_photo">
    <div class="page_header_trans">
      <div class="page_header_title">
      </div>
    </div>
  </div>

  <div class="page_content">
    <div class="full_width_centered">

      <h2>RSVP</h2>

      <div class="form_content">
        <h3 class="form_toptitle" id="Note"></h3>
        <%= render 'rsvp/form' %>
      </div>

      <div class="clear"></div>
    </div>  <!--end of full width-->
  </div> <!--end of about content-->

  <%= render 'layouts/footer' %>

</div>
<!-- jQuery -->
<script type="text/javascript" charset="utf-8">
    var $ = jQuery.noConflict();
    $(window).load(function () {
        "use strict";
        $("#RSVPForm").validate({
            submitHandler: function (form) {
                ajaxContact(form);
                return false;
            }
        });

    });
</script>
<script type="text/javascript">
    var main_menu = new main_menu.dd("main_menu");
    main_menu.init("main_menu", "menuhover");
</script>
<script type="text/javascript">
    function ajaxContact(theForm) {
        var $ = jQuery;
        $('#loader').fadeIn();
        var formData = $(theForm).serialize(),
            note = $('#Note');
        $.ajax({
            type: "POST",
            url: "rsvp-send.php",
            data: formData,
            success: function (response) {
                if (note.height()) {
                    note.fadeIn('fast', function () {
                        $(this).hide();
                    });
                } else {
                    note.hide();
                }
                $('#LoadingGraphic').fadeOut('fast', function () {
//$(this).remove();
                    if (response === 'success') {

                        $('#RSVPForm').hide();

                    }
// Message Sent? Show the 'Thank You' message and hide the form
                    result = '';
                    c = '';
                    if (response === 'success') {
                        result = 'Your message has been sent. Thank you!';
                        c = 'success';
                    } else {
                        result = response;
                        c = 'error';
                    }
                    note.removeClass('success').removeClass('error').text('');
                    var i = setInterval(function () {
                        if (!note.is(':visible')) {
                            note.html(result).addClass(c).slideDown('fast');
                            clearInterval(i);
                        }
                    }, 40);
                }); // end loading image fadeOut
            }
        });
        return false;
    }
</script>