
.full_width_box {
  width: 500px;
  margin: auto;
  padding: 40px 0;
}

.btn-expand {
  display: block;
}

.div-expand {
  padding: 20px;
  border: 1px solid $color_8;
  border-radius: 8px;
  margin-top: 5px;
}

/*body {
  font-family: $font-family_1;
}*/
.image-preview {
  width: auto;
}