
.full_width_box {
  max-width: 500px;
  margin: auto;
  padding: 40px 0;
}

@media screen and (max-width: 680px) {
  .full_width_box {
    margin: 0 3% 80px 3%;
  }
}

.btn-expand {
  display: block;
}

.div-expand {
  padding: 20px;
  border: 1px solid $color_8;
  border-radius: 8px;
  margin-top: 5px;
}

/*body {
  font-family: $font-family_1;
}*/
.image-preview {
  width: auto;
}

input[type="radio"] {
  margin: 4px 5px 0;
  float: left;
}